@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400');
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:ital,wght@1,700&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.menu {
    width : 20px;
    cursor : pointer;
    margin-left: 40px;
    display : none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: -webkit-sticky; /* Safari */
    top: 0;
    height: 10vh;
    padding-top: 1vh;
}

li {
    float: left;
    font-family: 'Roboto';
}

li h1 {
    color : rgb(255, 255, 255);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 600px;
}
  
li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto';
}

li a:hover {
    background-color: rgb(83, 83, 83);
}
.header {
    width : 100%;
    height : 95vh;
    background-image : linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../Img/bg.jpg);
    background-position : center;
    background-size : cover;
    box-sizing : border-box;
    text-align: center;
}

.ket {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: -webkit-sticky; /* Safari */
    top: 0;
    height: 10vh;
    padding-top: 1vh;
}

.tls {
    color : rgb(255, 255, 255);
    padding-top: 5px;
    padding-left: 10px;
    font-family: 'Roboto';
}

.text {
    padding-top: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color :rgb(255, 255, 255);
}

.text2 {
    color :rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.konten {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.judul {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.edit {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
    text-align: center;
}

.isi {
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Fira Sans';
    padding-bottom: 3%;
}

body {
    perspective: 500px;
    overflow-x: hidden;
  }

.tbl {
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 30%;
}
.tombol1 {
    background: rgb(0, 0, 0);
    padding: 0.7em;
    width: 25%;
    float: center;
    color: white;
    font-family: 'Roboto', sans-serif;

}
.tombol1:hover {
    background: rgb(93, 93, 93);
  }

  .tombol2 {
    background: rgb(0, 0, 0);
    padding: 0.7em;
    width: 25%;
    float: center;
    color: white;
    font-family: 'Roboto', sans-serif;

}
.tombol2:hover {
    background: rgb(93, 93, 93);
  }
