@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400');
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: -webkit-sticky; /* Safari */
    top: 0;
    height: 10vh;
    padding-top: 1vh;
}
  
li {
    float: left;
    font-family: 'Roboto';
}

li h1 {
    color : rgb(255, 255, 255);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 600px;
}
  
li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto';
}

li a:hover {
    background-color: rgb(83, 83, 83);
}

.bg {
    width : 100%;
    height : 100%;
    background-image : linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../Img/bg.jpg);
    background-position : center;
    background-size : cover;
    box-sizing : border-box;
    text-align: center; 
}
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
  }
  
body {
    display: grid;
  
  }
  
  .page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
  }
  @media (min-width: 600px) {
    .page-content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 800px) {
    .page-content {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  }
  @media (min-width: 600px) {
    .card {
      height: 350px;
    }
  }
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }
  .card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
  }
  .card:nth-child(1):before {
    background-image: url(https://i.pinimg.com/originals/27/92/cf/2792cf1af8e7743622006f942c295f68.jpg);
  }
  .card:nth-child(2):before {
    background-image: url(https://ifitalkssomething.files.wordpress.com/2013/02/shalat.jpg);
  }
  .card:nth-child(3):before {
    background-image: url(https://static8.depositphotos.com/1140262/809/i/950/depositphotos_8098584-stock-photo-feeding-the-poor.jpg);
  }
  .card:nth-child(4):before {
    background-image: url(https://media.istockphoto.com/id/1224704144/id/foto/meja-makan-keluarga-buka-puasa-ramadan-muslim-dengan-makanan-tradisional-turki.jpg?b=1&s=612x612&w=0&k=20&c=CTt2akYJLIfZlEIqHs7NsMGDWdBH1TFh5etFxn743LQ=);
  }
  .card:nth-child(5):before {
      background-image: url(https://images.unsplash.com/photo-1564769625905-50e93615e769?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aGFqaXxlbnwwfHwwfHw%3D&w=1000&q=80);
  }
  .card:nth-child(6):before {
      background-image: url(https://cakradunia.co/files/images/20190319-berwudhu.jpg);
  }
  .card:nth-child(7):before {
      background-image: url(https://thumbs.dreamstime.com/b/al-quran-16204929.jpg);
  }
  .card:nth-child(8):before {
      background-image: url(https://w0.peakpx.com/wallpaper/658/626/HD-wallpaper-prophet-muhammad-mohammed-nabi-thumbnail.jpg);
  }
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
  }
  .content > * + * {
    margin-top: 1rem;
  }
  
  .title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
  }
  
  .btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
  }
  .btn:hover {
    background-color: #0d0d0d;
  }
  .btn:focus {
    outline: 1px dashed rgb(0, 0, 0);
    outline-offset: 3px;
  }
  
  @media (hover: hover) and (min-width: 600px) {
    .card:after {
      transform: translateY(0);
    }
  
    .content {
      transform: translateY(calc(100% - 4.5rem));
    }
    .content > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
  
    .card:hover,
  .card:focus-within {
      align-items: center;
    }
    .card:hover:before,
  .card:focus-within:before {
      transform: translateY(-4%);
    }
    .card:hover:after,
  .card:focus-within:after {
      transform: translateY(-50%);
    }
    .card:hover .content,
  .card:focus-within .content {
      transform: translateY(0);
    }
    .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
      opacity: 1;
      transform: translateY(0);
      transition-delay: calc(var(--d) / 8);
    }
  
    .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
      transition-duration: 0s;
    }
  }
  
  .sosmed img{
    height : 20px;
    margin : 15px;
    cursor : pointer;
  }
  
  .sosmed {
    text-align: center;
  
  }
  
  .sosmed:hover {
    opacity: 0,7;
  }
  
  @media only screen and (max-width:700px) {
    ul {
      height: 5vh;
    }
  
    li h1 {
      font-size: 15px;
      padding-right: 50px;
      padding-top: 1px;
    }
  
    li a {
      padding-top: 5px;
      font-size: 10px;
      padding-left: 10px;
    }
  
    .header {
      height : 50vh;
    }
  
    .text {
      padding-top: 50%;
      font-size: 30px;
  
    }
  
    .text2 {
      font-size: 10px;
    }
  }